
.login-container {
  display: grid;
  gap: 10px;
}

/* Hospital Image */
.hospital-image {
    border: 2px solid rgb(68, 193, 227); 
    border-radius: 8px;
}
.hospital-image img {
  width:100% ;
  height: 100%;
  background-size: cover;
}
/* .tagline {
  margin-top: 20px;
  font-size: 16px;
  color: #007700;
  font-weight: bold;
} */

/* Login Box */
.login-box {
  background-image: url(../Images/general/loginbg.jpg);
  background-size: cover;
  padding: 4rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-box h2 {
  margin-bottom: 4rem;
  font-size: 3.5rem;
  color: #333;
}

.login-box label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #444;
}

.login-box input {
  width: 100%;
  padding: 1rem 0 ;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 0.5rem;
}

/* Captcha */
.captcha-box {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 2rem;
}
#captcha {
  margin-right: 2rem;
  font-weight: bold;
  font-size: 18px;
  background: #eee;
  padding: 5px 10px;
  letter-spacing: 3px;
  border: 1px solid #ccc;
}
.captcha-box button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Submit button */
.submit-btn {
  width: 100%;
  padding: 1rem;
  background-color:#4fb6ea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-right: 2rem;
   font-size: 2rem;
   font-weight: 600;
}
.clr{
  background-color: #14478e;
}
.submit-btn a{
  text-decoration: none;
  color: whitesmoke;
}
.submit-btn:hover {
    background-color: #0077B6;
}

/********************************************************/
/* DASHBOARD */
/********************************************************/
.dashboard{
  display: flex;
}
.dshb-heading{
  color: #1d3557;
  padding-top: 7rem;
  margin-bottom: 2rem;
}
.side-bar{
  margin: 0;
  /* background-color:rgb(57, 53, 53); */
  background-color: #e7e7e7e9;
  width: 350px;
  height: 100wh;
  top: 0;
  left: 0;
}
.facility-name h2{
  padding: 4rem;
  font-weight: 700;
  font-size: 2.8rem;
  padding-top: 2rem;
   /* color: #fff; */
}

.side-menu{
  padding-left: 4rem;
}
.menu-list{
  padding-top: 2rem;
  list-style: none;
}
.menu-list li{
  padding-bottom: 2.4rem;
}
.menu-list-link {
  text-decoration: none;
   /* color: whitesmoke; */
   color: #333;
  font-size: 1.8rem;
  font-weight: 540;
}
.menu-list-link i{
  width: 2rem;
}
.menu-list-link:hover{
  color: #0077B6;
}
.dashboard-cards{
  column-gap: 1.5rem;
  margin-top: 6rem;
}
.dsh-main{
  /* padding: 2rem; */
  width: 100%;
  margin-bottom: 4rem;
}
.dsh-main .dsh-nav{
  padding: 2rem 2rem 0 2rem;
}

.dsh-board .dsh-board{
   padding: 0;
}
.dsh-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dsh-heading p{
  font-weight: 700;
  font-size: 2rem;
}
.dsh-heading-side{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.date-container input{
  font-size: 1.5rem;
  border-radius: 4px;
  background-color: #dae7ed;
}
.dshh-bg{
  background-image: url(../Images/general/abc.png);
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: 1rem;
}
.dshh-bg h2{
 color: #053476;
 font-weight: 800;
}
.yellow-box,.blue-box,.gray-box,.red-box{
  margin-bottom: 50px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  box-shadow: 0 10px 20px -14px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  /* border: 1px solid rgb(10, 10, 18); */
  animation: fabricBoxes .5s ease-in-out;
  /* background-color: #e7e7e7e9; */
   /* background-position: center;
      background-size: cover;
      background-image: url(../Images/general/card.bg.jpg); */
  
}
/* .yellow-box:hover{
  background-color: rgb(244, 244, 103);
}
.blue-box:hover{
  background-color:#0d5fb1;
}
.red-box:hover{
  background-color: rgb(217, 66, 66);
}
.gray-box:hover{
  background-color: #6f6e6e;
} */
.yellow-box:hover,
.blue-box:hover,
.gray-box:hover,
.red-box:hover,
.yellow-box-cont:hover,
.gray-box-cont:hover,
.blue-box-cont:hover,
.red-box-cont:hover{
  background-color: #e7e7e7e9;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
    transition: all .5s;
    transform: scale(1.05);
}
.yll-img{
  background-image: url(../Images/general/yellow.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
/* .yll-img:hover{
  background-image: url(../Images//general/yellowo-opn.jpg);
} */
.red-img{
  background-image: url(../Images/general/red.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.blue-img{
  padding-top: 1.5rem;
  background-image: url(../Images/general/blue.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.gray-img{
  background-image: url(../Images/general/gray.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50%;
}
 .feature-desc{
    color: #000;
    opacity: 1;
    text-align: center;
    transition: .5s;
    /* position: absolute; */
    padding: 2rem;
    width: 100%;
}  

/************************************************/
/* GENERATE LABEL */
/***********************************************/
 .label-gen-cont,.fclt-dtl-cont{
  gap: 4rem;
  margin: 4rem ;
  /* background-color: (180deg, rgba(255, 255, 255, 0.98), #fafafb);
  background-color: #ffffff;
  margin-top: 0rem;
  box-shadow:0 8px 30px rgba(14, 30, 37, 0.06);
   border: 1px solid #f5f8fa; */
 }
 .label-heading{
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
 color: #545454;
 font-weight: 800;
 }

 .label-form,.preview-section,.form-part-1{
  /* background-color: #fdfdfd; */
  /* background-color: #f5f4f4; */
    background-size: cover;
    padding: 3rem 3.4rem;
    background-color: (180deg, rgba(255, 255, 255, 0.98), #fafafb);
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    box-shadow:0 8px 30px rgba(14, 30, 37, 0.06);
 }
  .form-part-1:hover,
 .preview-section:hover,
 .label-form:hover{
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
 }
 .sub-heading,
 .preview-section h3,
 .label-form h2,
 .detail-form h2{
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color:#14478e;
 }
 
 .form-section label, .select-opt label{
  display: block;
 margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
 }
 /* .form-section textarea,
 .form-section input,
 .select-opt select,
.wst-ctgs select{
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 2.4rem;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
   color: #6d6c6c;
} */

.form-control{
   width: 100%;
    padding: 1.15rem 1.3rem;
    border: 1px solid #d8e2ef;
    background: #fff;
    transition: all 0.35s ease;
    margin-bottom: 2rem;
     color: #6d6c6c;
     box-sizing: border-box; 
}

   .form-control:focus,
.checkbox-auth input
 {
  outline: none;
  border-color:  #0077B6;
  transform: translate(-1.8px);
}
.form-section input[type="date"]{
  color: #6d6c6c;
}
#qrcode{
  margin-bottom: 1rem;
}
.wst-ctgs ,.form-2-cols{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}
/* .select-opt select,
.wst-ctgs select{
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #6d6c6c;
} */
.preview-box {
border-radius: 0.5rem;
padding: 1rem;
}
.btnl {
padding: 10px 18px;
border: none;
border-radius: 6px;
cursor: pointer;
margin: 10px;
font-size: 1.5rem;
font-weight: bold;
}
.btn-green {
background-color: #28a745;
color: #fff;
}
.btn-orange {
background-color: #fd7e14;
color: #fff;
}
.btn-green:hover {
background-color: #215a2f;
transform: scale(1.05);
color: #fff;
}
.btn-orange:hover {
background-color: #ca5f08;
transform: scale(1.05);
color: #fff;
}
 .preview-box p{
  padding-left: 7rem;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #444;
 }
  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    table, th, td {
      border: 1px solid #ccc;
    }
    th, td {
      padding: 10px;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
    }
    td input{
      border: none;
      padding: 0.5rem;
    }
    td input:focus{
      outline: none;
    }
    #qrcode {
      margin-top: 20px;
      text-align: center;
    }

 /******************************************************/
 /* FACILITY DETAILS */
 /*****************************************************/
 .checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.95em;
    color: #444;
    cursor: pointer;
}
.checkbox-group label{
  align-items: center;
  /* padding-right: 4rem; */
}
.checkbox-group input[type="checkbox"] {
    transform: scale(1.1);
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    width: 2rem;
    align-items: center;
    vertical-align: center;
}
.checkbox-auth{
  display: flex;
}
.crr-addr,.hcf-add{
  width: 100%;
    padding: 0.5rem;
  font-size: 1.5rem;
}
/* .select-opt{
  margin-bottom: 2.4rem;
} */
/* .select-opt select{
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
   border-radius: 4px;
} */
.btn-rpt{
  background-color: #14478e;
  color: #dae7ed;
}
.btn-rpt:hover{
  background-color: #053476;
  transform: scale(1.05);
}
.form-grid{
  display: grid;
  column-gap: 2rem;
  align-items: start;
}
.checkbox-auth label{
color: #555151;
font-weight: 500;
margin-top: 1rem;
}
 /******************************************/
 /* SUBSCRIPTION MODAL */
 /******************************************/
 .sub-details{
    margin:0 9.6rem 9rem 9.6rem;
 }
 .fclt-add{
   width: 100%;
    padding: 0.5rem;
  font-size: 1.5rem;
}
.add-stickers{
  margin-left: 4rem;
  outline-width: 70%;
  /* background-color: #eef5f8; */
  padding: 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  /* padding-left:5rem ; */
  justify-content: space-between;
}
.add-stickers table{
  background-color:  #eef5f8;;
  padding: 2rem;
  border-radius: 8px;
}
.add-stickers thead th {
  font-weight: 600;
  padding: 2rem;
  /* padding-right: 5rem; */
}
.add-stickers tbody td{
  padding: 0 3rem 0.5rem 4rem;
  padding-top: 1.5rem;
  font-weight: 530;
}
.btn-cal{
  margin-left: 9rem;
  margin-top: 3rem;
  background-color: #0077B6;
  color: #fff;
}

/********************************************************/
/* WASTE COLLECTION */
/*******************************************************/
.fac-nav{
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #1487c6;
  padding: 1.8rem;
  border-radius: 5px;
  color: #fff;
}

/********************************************************/
/*TRAINING MATERIAL*/
/*******************************************************/
.training-bg{
  background-image: url(../Images/general/dashbg.jpg);
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: 1rem;
}
.training-main{
  padding: 0;
  /* padding-top: 2rem; */
}
.training-main p{
 padding-left: 2rem;
}
.training-main .date-container{
  padding-right: 2rem;
}
.train-head,.report-head,.dshh-head{
   text-align: center;
   font-size: 4rem;
   color:#000;
  top: 25%;
  position: absolute;
  left: 25%;
  font-weight: 800;
}
.training-list{
 list-style: none;
 justify-content: space-between;
 display: flex;
 font-size: 1.8rem;
 background-color: #f0f5f7;
 padding: 1.5rem;
 border-radius: 8px;
 margin: 2rem 5rem 2rem 5rem;
 box-shadow: 0 4px 10px rgba(0,0,0,0.1)
}
.pdf-icon a{
  color: #000;
}
/* .training-material{
  margin: 3rem;
} */
.training-material p,.annual-report p,.dsh-board p{
   font-weight: 700;
   font-size: 2.4rem;
   margin-top: 3rem;
   margin-left: 2rem;
   color:#053476;
}
.training-material hr ,.annual-report hr ,.dsh-board hr{
   margin: 2rem 6rem 2rem 4.5rem;
   height: 2px;
   color: #053476;
}
/****************************************************/
/* ANNUAL REPORT */
/***************************************************/
.report-bg{
  background-image: url(../Images/general/annualbg.webp);
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: 1rem;
}
.report-head{
  color: #fff;
}
.ann-rpt{
  margin-bottom: 8rem;
}
.report1{
  background-image: url(../Images/annualreport/report1.png);
}
.report2{
  background-image: url(../Images/annualreport/report2.png);
}
.report3{
  background-image: url(../Images/annualreport/report3.png);
}
.report4{
  background-image: url(../Images/annualreport/report4.png);
}
.report1,.report2,.report3,.report4{
   height: 250px;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 20px -14px rgba(0, 0, 0, 0.75);
  margin-top: 1rem;
  animation: fabricBoxes .5s ease-in-out;
}
.report4 a,.report1 a,.report2 a,.report3 a{
  color: #053476;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  top: 80%;
  left: 50%;
  position: relative;
}
.report4 a{
  color: whitesmoke;
}
.report1:hover,.report2:hover,.report3:hover,.report4:hover{
background-color: #e7e7e7e9;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
    transition: all .5s;
    transform: scale(1.05);
}

.form-part-1 H3{
  padding-bottom: 1rem;
  font-size: 1.8rem;
  color: #053476;
}

/* CBWTF */
.yellow-box-cont,.blue-box-cont,.gray-box-cont,.red-box-cont{
  margin-bottom: 50px;
  border-radius: 20px;
  /* color: #fff; */
  font-size: 15px;
  font-weight: 400;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  box-shadow: 0 10px 20px -14px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  /* border: 1px solid rgb(166, 166, 183); */
  animation: fabricBoxes .5s ease-in-out;
  
}
.yll-cont,.blue-cont,.red-cont,.gray-cont{
  background-color: rgb(246, 246, 242);
  width: 100%;
  height: 200px;
}
.yll-cont i,.blue-cont i,.red-cont i,.gray-cont i{
 padding-left: 6rem;
  font-size: 12rem;
  padding-top: 3rem;
}
.yll-cont i{
  color: yellow;
}
.blue-cont i{
  color: rgb(18, 93, 215);
}
.red-cont i{
  color: rgb(255, 0, 13);
}
.gray-cont i{
  color: rgb(151, 150, 150);
}